<launch>
	<arg name="nome_grupo" default="PDI" />
	<arg name="image_in_topic" default="/camera/image_raw" />
	<arg name="cali_in_topic" default="cali_in_topic" />
	<arg name="image_out_topic" default="image_out_topic" />
	<arg name="position_out_topic" default="position_out_topic" />	
	<arg name="visualize" default="false"/>
	<arg name="visualize_input" default="false"/>
	<arg name="input_enable" default="true"/>
	<arg name="video_stream_provider" default="0"/>

	
   <include if="$(arg input_enable)" file="$(find video_stream_opencv)/launch/camera.launch" >
   		<!-- node name and ros graph name -->
	  	<arg name="camera_name" value="camera" />
	  	<!-- means video device 0, /dev/video0 -->
	  	<arg name="video_stream_provider" value="$(arg video_stream_provider)" />
	  	<!-- throttling the querying of frames to -->
	  	<arg name="fps" value="30" />
	  	<!-- setting frame_id -->
	  	<arg name="frame_id" value="webcam_optical_frame" />
	  	<!-- camera info loading, take care as it needs the "file:///" at the start , e.g.:
	  	"file:///$(find your_camera_package)/config/your_camera.yaml" -->
	  	<arg name="camera_info_url" value="" />
	  	<!-- flip the image horizontally (mirror it) -->
	  	<arg name="flip_horizontal" value="true" />
	  	<!-- flip the image vertically -->
	  	<arg name="flip_vertical" value="false" />
		<!-- force width and height, 0 means no forcing -->
	    <!-- 
	    <arg name="width" value="0"/>
	    <arg name="height" value="0"/>
		-->
	  	<!-- visualize on an image_view window the stream generated -->
	  	<arg name="visualize" value="$(arg visualize_input)" />
   </include>

	<group ns= "$(arg nome_grupo)">	
		<node pkg="visao_obr" name="find_rectangle" type="search_rectangle">
			<param name="image_in_topic" type="string" value="$(arg image_in_topic)"/>
			<param name="cali_in_topic" type="string" value="$(arg cali_in_topic)"/>
			<param name="image_out_topic" type="string" value="$(arg image_out_topic)"/>
			<param name="position_out_topic" type="string" value="$(arg position_out_topic)"/>
		</node>
    <node if="$(arg visualize)" name="$(arg nome_grupo)_rectangle_view" pkg="image_view" type="image_view">
    	<remap from="image" to="$(arg image_out_topic)" />
    </node>
	</group>


</launch>
